.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #2a2a2a;
  color: white;
  text-align: center;
}

.App-header{
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

video {
  width: 700px;
  height: 400px;
  z-index: 8;
}

canvas {
  position: absolute;
  width: 700px;
  height: 400px;
  z-index: 9;
}

.detection-box {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(rgba(37, 37, 37, 0), rgb(22, 22, 22) 80%, rgba(37, 37, 37, 0));
  color: white;
  padding: 0 10px;
  z-index: 10;
}

h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(59, 148, 105);
}

.detection {
  padding: 10px 5px;
}
